.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.h-screen-16 {
  height: calc(100vh - 65px);
}
.max-h--48 {
  max-height: calc(100vh - 12rem);
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(223, 223, 223); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}
